*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content{
  height:  80vh;
}
.navbar{
  background-color:  #9e9b9b !important;
}

.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px rgb(233, 173, 173);
}
.min-90{
  min-height: 68vh;
}

/* //icons */

.switch-icons{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;  
}
.anticon svg{
  font-size: 20px;
  cursor: pointer;
}
.active-icon{
  color: black;
}
.inactive-icon{
  color: gray;
}